
html{
    font-size: 16px;
}

body {
  font-family: "Mulish", sans-serif; 
  background-color: #ececec;
  color: #414141;
  width: 100%;
  box-sizing: border-box;
  margin:0rem 0.5rem;
}

/* *Header bölümü Css başlangıç */

header{
    background-color:#c1c1c1;
    width: 100%;
    height: 100%;
    margin-bottom: 1.4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header h1 {
    text-align: center;
}
header ul {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;  
}

a{
    text-decoration: none;
  color: #414141;
  padding: 0.4rem;
  border: 0.15rem solid black;
  border-radius: 0.4rem;
}

a:hover{
    
        background-color: black;
        color: white;
        transition: 0.6s;
     }

/* *Header bölümü Css bitiş */


/* !Main Content Css Başlangıç */

.main-content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;

}

.main-content .foto{
    width: 30%;
    height: 100%;
}

.main-content img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;

}
.main-content .aboutMe{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-content .aboutMe > *{
    margin-left: 2rem;
    
}

/* !Main Content Css Bitiş */

/* /Footer Css başlangıç */
footer {
    background-color: #c1c1c1;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }
footer .title-footer {
    margin: 1rem;
    color: black;
  }
  
  footer .button-class {
    margin-bottom: 2rem;
  }
  
  .button-class button {
    padding: 0.7rem;
    border-radius: 0.5rem;
  }
  .button-class button:hover {
    background-color: black;
    color: white;
    transition: 0.6s;
  }


  /* /Footer Css bitiş */